.home{
    min-height: 550px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar span {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar span.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar span:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
 
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar span {float: left;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar span {
      text-align: center;
      float: none;
    }
  }